1. Человек вносит свой возраст
2. Есть ли у него автомобильная страховка, (да или нет). Если нет, то переход в пункт 2. 
Если да, вопрос, застрохован ли он больше чем 6 месяцев в старой страховке и не было ли у тебя авария в последнии 2 года. (да/нет),
вне зависимоти от ответа следующее поле, сколько он платит в за страховку, выбрав как он платит за страховку, в месяц, в квартал или в год. Исходя из этого нужно подсчиать годовую сумму.

Если он отвечает на на вопрос об аварии да, то показывать ему, что он ничего не сэкономит и отправлять на 2 страховку
Если он отвечает, что аварии не было, то мы считаем годовую сумму, которую он ввел (если ввел месячную, то умножаем на 12) и считаем от этой суммы 5 процентов.

2. те же поля для страховки личная ответственность
3.те же поля для Страхование домашних хозяйств
4. те же поля для страховки от аварий

5. те же поля для страхования зданий

6. в эксель таблице данные по возрасту и сумма страховки зубов. Эта таблица должна вычитываться в рассчетах и лежать на сервере, чтобы можно было менять цену в евро.
18-20 20€
20-25 30€
26-30 32€
31-35 35€
36-40 40€
41-45 45€
46-50 50€
51-55 55€
56-60 60€
61-65 62€
66-70 66€
71-75 70€
76-80 75€

7. Ходишь ли ты на регулярную чистку зубов (да или нет) и сколько ты платишь в год


Расчет 

на последнем шаге показываем сумму, которую он может сэкономить 

это зубная страховка из экселя в зависимости от возраста 12*20 (если ему 18)
отнимаем 144€ 
отнимаем годовую сумму за чистку зубов, если он ходит и максимум 100 евро
отнимаем 5% от введенной суммы на шаге 2-5, если он на первом вопросе отвечает да и на предпоследнем вопросе он отвечает нет (т.е. не было аварии, не было выплат страховки и т.д.). Если страховки нет, то ничего не отнимаем.

Показываем сумму, которую он может сэкономить, если она меньше 0. Если больше, то показываем, что он может сэкономить 0 евро.



